.card {
  background: gainsboro;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 2px 1px 1px rgba(0, 0, 0, .3);
}

.card__index::after {
  content: ')';
  margin-right: 10px;
}

.card__wrap {
  display: flex;
  margin-bottom: 0;
}

.card__text {
  margin-right: 10px;
}

.card__button {
  margin-left: auto;
}

.card__max-per-person {
  font-size: 10px;
  color: red;
}