.card__index::after {
  content: ')';
  margin-right: 10px;
}

.card__wrap {
  display: flex;
  margin-bottom: 0;
}

.card__text {
  margin-right: 10px;
}

.card__button {
  margin-left: auto;
}

.card__max-per-person {
  font-size: 10px;
  color: red;
}